body {margin: 0; background-color: black; color:#bd3919; text-align: center;}

.image-grid {
    --gap: 80px;
    --num-cols: 3;
    --row-height: 300 px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap:var(--gap)
}

.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid-big {
    grid-column: span 3;
    grid-row: span 2;
}

.banner-dog {
    grid-column: span 3;
    grid-row: span 1;
}

/* screen less than 1024px */
@media screen and (max-width: 1024px) {
    --num-cols: 1;
    --row-height: 200 px;
}
